
body {
  background-image:  url(sun.jpeg);
  background-size: cover;
}

section {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}

.button {
  padding: 40px 80px;
  border-radius: 50px;
  background-color:  white;
  color:  black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.button1 {
  padding: 30px 30px;
  border-radius: 50px;
  background-color:  black;
  color:  black;
  transition:  all 100ms;
  position: absolute;
  z-index: 9;
  margin-right: 80px;
}

.button:hover {
  cursor:  pointer;
}

.buttonOn {
  background-color:  white;
  padding: 40px 80px;
  border-radius: 50px;
}

.button1on {
  padding: 30px 30px;
  border-radius: 50px;
  background-color:  black;
  color:  black;
  transition:  all 100ms;
  position: absolute;
  z-index: 9;
  margin-left: 160px;
}

.stars {
  background-image: url('star.jpeg');
}